body{
    background: #29345a;
    background-image: linear-gradient(rgba(14, 14, 51, 0.5), rgba(3, 2, 13, 0.5)), url('../img/fundo_azul.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
}
main {
    margin: 2% 5% 5% 5%;
}
.box {
    margin-top: 18px;
    display: flex;
    gap: 1vw;
    max-width: 95%;
    width: 100%;
    overflow-x: auto;
    cursor: grab;
    scroll-snap-type: x;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: 15px; 
}

.carrossel{
    aspect-ratio:(1 / 1);
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
    user-select: none;  
}

.carrossel img {
    width: 350px; /* Define a largura da imagem como 200 pixels */
    height: 200px; /* Define a altura da imagem como 200 pixels */
    border-radius: 10px; 
	padding-left: 5px;
	padding-right: 5px;
}

.pesquisa{
    margin-bottom: 3%;
	height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
#imagem-pesquisa{
    text-align: right;
    flex: 20%;
}
.barra-pesquisa{
    position: relative;
    flex: 60%;
    margin-right: 20%;
}
.barra-pesquisa i{
    position: absolute;
    right: 20%;
    top: 27%;
    transform: translate(-50%);
    font-size: 20px;
}
#inputSearch{
    font-style: italic;
    display: inline-flex;
    width: 600px;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
}
#submit_button{
    display: inline-flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    align-items: center;
}
section{
	padding-left: 50px;
	margin: auto;
	padding-bottom: 50px;
}
h2{
    font-weight: 350;
    font-size: 22px;
    color: white;
	padding-top: 10px;
	margin-bottom: 20px;
}
