/*corpo do site(main)*/
.fluxo_principal {
    position: relative; /* Adiciona posição relativa ao elemento pai */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Define a imagem de fundo com transparência */
    background-image: linear-gradient(rgba(14, 14, 51, 0.5), rgba(22, 19, 95, 0.5)), url('../img/fundo_azul.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    padding: 70px;
}
.frase_efeito{
    margin-left: 5%;
    flex: 45%;
    display: block;
    padding-bottom: 6%;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 15px;
    color:white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.slogan{
    color: rgb(216, 203, 20);
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    font-family: "Josefin Sans", sans-serif;
}
.frase_efeito h1{
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 37px;
    font-weight: 450;
    font-style: italic;
}
#destaque_frase{
    background: rgb(9, 3, 77);
    color:  white;
    font-weight: 350;
    border-radius: 3px;
    padding: 2px 10px 2px 10px;
}
#botao2{
    text-decoration: none;
    background: rgb(8, 3, 67);
    padding: 15px 20px;
    color: rgb(239, 223, 3);
    border-radius: 7px;
}
#botao2:hover{
    border: none;
    background: white;
    color:#303884;
    border: 2px solid #303884;
}
.img_fundo{
    text-align: center;
    margin-right: 5%;
    flex: 45%;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Parte dos lançamentos*/

/* Estilizando o contêiner principal que envolve a lista de documentários */
  .fluxo_principal {
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-wrap: wrap; /* Permite que os elementos sejam ajustados automaticamente quando necessário */
    padding-top: 100px; /* Adiciona espaço superior */
  }
  
  /* Estilizando o contêiner da lista de documentários */
  .documentary-list-container {
    width: calc(100% - 2rem); /* Define a largura do contêiner, descontando 20 pixels de cada lado */
}

/* Estilizando o envoltório da lista de documentários */
.documentary-list-wrapper {
    overflow: hidden; /* Esconde qualquer conteúdo que possa extravasar do contêiner */
}

/* Estilizando a própria lista de documentários */
.documentary-list {
    display: flex; /* Torna os itens flexíveis */
    align-items: center; /* Alinha os itens verticalmente */
    height: 300px; /* Define uma altura fixa para a lista de documentários */
}

/* Estilizando cada item da lista de documentários */
.documentary-list-item {
    margin-right: 30px; /* Adiciona espaço entre os itens */
}

/* Estilizando a imagem de cada item da lista de documentários */
.documentary-list-item-img {
    width: 270px; /* Define a largura da imagem */
    height: 200px; /* Define a altura da imagem */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
    border-radius: 20px; /* Arredonda as bordas da imagem */
}
  

/*Mudar cor do titulo da lista*/
  .documentary-list-title {
    color:#ffff;
  }
  
