body{
	background-color: #29345A;
	color: #ffffff;
}
.container{
	width: 35vw;
	margin: auto;
	margin-top: 8vw;
	margin-bottom: 10vw;
}
.input_nome{
	display: flex;
}
#primeiro_nome{
	flex:55%;
}
#segundo_nome{
	flex: 45%;
}
.login-senha{
	width: 500px;
	margin: auto;
	margin-bottom: 4%;
	font-size: 20px;
	font-weight: 550;
}
.login-senha label[for="mostrarSenha"]{
	font-size: 15px;
	font-weight: 550;
}

hr{
	margin-bottom: 30px;
	font-size: 5px;
	color: #ffffff;
}

input{
    border: none; /* remove a borda */
    outline: none; /* remove o contorno quando focado */
    background: none; /* remove o fundo */
    padding: 5px;
    padding-left: 10px;
    color: #ffffff;
}



input[type="email"], input[type="password"]{
	width: 500px;

}


::placeholder{
	color: #ffffff;
	font-style: italic;
}



#div-checkbox{
	float: left;
	padding-left: 10px;
	padding-right: 10px;

}



input[type="checkbox"]{
	transform: scale(1.5);
}


h4{
	padding: 2px;
}



#botao-login{
		margin: auto;
		width: 200px;
}


input[type="submit"]{
	border: 1px solid #fff;
	font-size: 18px;
	color: #fff;
	border-radius: 10px;
	padding: 7px;
	padding-left: 50px;
	padding-right: 50px;
	font-weight: bold;
	cursor: pointer;
}



#hr-botao{
	margin-top: 30px;
}

#esqueci-senha a{
	color: #ffffff;
	margin-left: 50px;
}