@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Menu padrão(nav) */
* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    margin:0;
    background:#303884;
}
.navbar{
    display: flex;
    height: 100%;
    background: #303884;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.logo{
    flex:15%;
    margin-left: 5%;
    text-align: center;
}
.menu{
    flex: 45%;
    text-align: larger;
    align-items: center;
    padding: 1.5vw;
    display: flex;
    gap: 1.5vw;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 16px;
}
.menu a:hover{
    color:#576EA9;
    border-top:2px solid white
}
.inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px
    
}
.inicio a{
    padding: 10px;
}

.acesso{
    align-items: center;
    display: flex;
    flex:30%;
    margin-right: 3%;
    padding: 10px;
}
.acesso a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
}
.acesso a:hover{
    color:#576EA9;
    border-top:2px solid white;
}
#botao{
    background: rgba(87, 110, 169, 1);
    padding: 10px 25px;
    color: white;
    border-radius: 7px;
    margin-right: 7%;
    margin-left: 10%;
}
#botao:hover{
    border: none;
    background: white;
    color:#303884;
}
.login{
    display: flex;
    align-items: center;
    padding:13px 0px 13px 10px;
    border-left: 1px solid white;
}

/*corpo do site(main)*/
.fluxo_principal {
    position: relative; /* Adiciona posição relativa ao elemento pai */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Define a imagem de fundo com transparência */
    background-image: linear-gradient(rgba(14, 14, 51, 0.5), rgba(22, 19, 95, 0.5)), url('../img/img_fundo.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    padding: 70px;
}
.frase_efeito{
    margin-left: 5%;
    flex: 45%;
    display: block;
    padding-bottom: 6%;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 15px;
    color:white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.slogan{
    color: rgb(216, 203, 20);
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    font-family: "Josefin Sans", sans-serif;
}
.frase_efeito h1{
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 37px;
    font-weight: 450;
    font-style: italic;
}
#destaque_frase{
    background: rgb(9, 3, 77);
    color:  white;
    font-weight: 350;
    border-radius: 3px;
    padding: 2px 10px 2px 10px;
}
#botao2{
    text-decoration: none;
    background: rgb(8, 3, 67);
    padding: 15px 20px;
    color: rgb(239, 223, 3);
    border-radius: 7px;
}
#botao2:hover{
    border: none;
    background: white;
    color:#303884;
    border: 2px solid #303884;
}
.img_fundo{
    text-align: center;
    margin-right: 5%;
    flex: 45%;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*Rodapé do site(footer)*/
.rodape{
    width: 100%;
    height: 8vw;
    background-color:#303884;
    display:flex;
}
.redes_sociais{
    text-align: center;
    margin-left: 5%;
    flex: 40%;
    display: block;
    justify-content: center;
    padding: 25px 0px 25px 0px;
}
.redes_sociais h3{
    font-weight: 400;
    color: white;
    font-size: 12px;
}
.img_rodape{
    align-items: center;
    text-align: center;
    letter-spacing: 10px;
    border-right: 1px solid white;
}
.info_geral{
    margin-right: 5%;
    flex: 40%;
    display: flex;
    justify-items: right;
    align-items: center;
    padding-left:20px;
    padding-top: 20px;
}
.info_geral a{
    text-decoration: none;
    font-weight: 300;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 20px;
    letter-spacing: 1px;
}
.info_geral a:hover{
    border-bottom: 1px solid white;
}
#info_geral_border{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 5px 20px;
}